<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SSASConnectionString" value="Data source=localhost\sql2016;Database=AdventureWorksDW2014Multidimensional-EE" />
    <add key="OutputFolderPath" value="C:\test\" />
    <add key="OverwriteOutputFile" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>